.contactus__flexbox {
    display: flex;
    justify-content: space-between
}

.form {
    padding-top: 15px;
    padding-left: 25px;
    margin-bottom: 10%;

}

#_subject {
    width: 300px;
}

.contactus_title {
    padding-left: 10px;
    @include titulos;
}

.contactus_buttons {

    padding-left: 15%;

}

#_name {
    font-size: 12px;
    font-weight: 600;
}

#_email {
    @extend #_name;
}

#_phone {
    @extend #_name;
}

#_subject {
    @extend #_phone;
}

#_comment {
    @extend #_phone;
    font-size: 16px;
}


.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 500px;
    margin-right: 5%;

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 400px;
        width: 500px;
    }
}