#carouselExampleIndicators {
    margin: auto;
    padding: 5%;
    margin-top: 5%;
    max-width: 1024px;
    max-height: 768px;

    .carousel-inner img {
        width: 750px;
        height: 380px;
        border-radius: 4%;
            
    }

}



.index__main {
    padding-top:5%;
    text-align: center;

}