

.market { 
    display:grid;
    grid-template-columns: 15% 1fr ;
    
    .market__category {
        padding-top:150px;
    }


}

.market__section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:8%;
    align-content:right;
    padding: 10% 10% 0 20%;
}

.market_product {
    text-align:center;

    .product {
        border: 1px solid black;
        border-radius: 15%;
        margin: 1%;
      }
}

